<div class="body-creds ">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #103cbe;">
                <div class="featured-image mb-3">
                    <img src="../assets/images_creds/1.png" class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    Join Sabong Online</p>
                <small class="text-white text-wrap text-center"
                    style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Register now to experience the
                    thrill of online sabong matches!</small>
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Create Account</h2>
                        <p>Enter your details to register</p>
                    </div>
                    <div class="row m-b-20">
                        <div class="alert alert-danger" role="alert" *ngIf="messageErrorTrue">
                            <div *ngFor="let item of message">
                                {{item}}
                            </div>
                        </div>

                        <div class="alert alert-success" role="alert" *ngIf="!messageErrorTrue && message.length > 0">

                            <div *ngFor="let item of message">
                                {{item}}
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="model.username" type="text"
                            class="form-control form-control-lg bg-light fs-6" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <input [(ngModel)]="model.password" type="password"
                            class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                    </div>
                    <div class="input-group mb-4">
                        <input [(ngModel)]="model.confirmPassword" type="password"
                            class="form-control form-control-lg bg-light fs-6" placeholder="Confirm Password">
                    </div>
                    <div class="input-group mb-4">
                        <button class="btn btn-lg btn-primary w-100 fs-6" [disabled]="isLoading"
                            (click)="register()">{{signupBtnKLabel}}</button>
                    </div>
                    <div class="row">
                        <small>Already have an account? <a href="index.html">Login here</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>