<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h3>Sabong Section</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                            </svg></a></li>
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Sabong Section</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row g-3 sabong-block">
                    <div class="col-lg-3 col-sm-6">
                        <div class="sabongtable">
                            <div class="sabongtable-header">
                                <h3 class="title">VMX FREE</h3>
                            </div>
                            <div class="sabong-value">
                                <img src="../assets/images/versus.png" alt="sabong-value" class="img-fluid">
                            </div>
                            <ul class="sabong-content">
                                <li>Thursday, January 30, 2025</li>
                            </ul>
                            <div class="sabongtable-button"><a class="btn btn-primary btn-lg" href="video.html">ENTER TO
                                    PLAY</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="sabongtable">
                            <div class="sabongtable-header">
                                <h3 class="title">UTC</h3>
                            </div>
                            <div class="sabong-value">
                                <img src="../assets/images/versus.png" alt="sabong-value" class="img-fluid">
                            </div>
                            <ul class="sabong-content">
                                <li>Monday, April 14, 2025</li>
                            </ul>
                            <div class="sabongtable-button"><a class="btn btn-primary btn-lg" href="video.html">ENTER TO
                                    PLAY</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="sabongtable">
                            <div class="sabongtable-header">
                                <h3 class="title">SGMC APRIL 14, 2025</h3>
                            </div>
                            <div class="sabong-value">
                                <img src="../assets/images/versus.png" alt="sabong-value" class="img-fluid">
                            </div>
                            <ul class="sabong-content">
                                <li>Monday, April 14, 2025</li>
                            </ul>
                            <div class="sabongtable-button"><a class="btn btn-primary btn-lg" href="video.html">ENTER TO
                                    PLAY</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="sabongtable">
                            <div class="sabongtable-header">
                                <h3 class="title">Anteiku Arena</h3>
                            </div>
                            <div class="sabong-value">
                                <img src="../assets/images/versus.png" alt="sabong-value" class="img-fluid">
                            </div>
                            <ul class="sabong-content">
                                <li>Monday, April 14, 2025</li>
                            </ul>
                            <div class="sabongtable-signup"><a class="btn btn-primary btn-lg" href="video.html">ENTER TO
                                    PLAY</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>